@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;900&family=Quattrocento+Sans&display=swap');
// font-family: 'Playfair Display', serif;
// font-family: 'Quattrocento Sans', sans-serif;

$prime-color: #05595b;
$second-color: #062c30; 
$border: #062c3032;

body {
  background-color: #f5f5f5;
}

body, button {
  font-family: 'Quattrocento Sans', sans-serif !important;
  margin: 0;
}

h2 {
  font-family: 'Playfair Display', serif !important;
}

a {
  text-decoration: none !important;
}

img {
  // width: 50%;
}

button {
  background-color: $prime-color;
  color: #fff;
  padding: 7px 19px;
  border: 1px solid $prime-color;
  border-radius: 50px !important;
  cursor: pointer;
  transition: 0.1s ease;
}

button:hover, button#secondary:hover {
  background-color: #e0fdffab;
  color: $second-color;
  border: 1px solid $prime-color;
  transition: 0.2s ease;
}

button#secondary {
  background-color: #fff;
  color: $second-color;
}

nav {
  padding: 15px 20px;
  // border: 1px solid red;
  border-bottom: 1px solid #0026272d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  a#logo {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 24px;
    color: $prime-color;
  }
   
  ul {
    margin-left: auto;
  }

  li {
    display: inline;
    padding-left: 10px;
    a {
      color: $prime-color !important;
    }

    a:hover {
      color: $second-color !important;
    }
  }

  div {
    margin-left: 15px;
  }
}

div#jumbotron {
  border-bottom: 1px solid $border;
  display: flex;
  justify-content: space-between;
  // width: 90%;
  margin: auto;
  background-color: #077a7cd3;
  color: #fff;
  
  div#jumbo-detail {
    padding: 7vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  div {
    padding: 15px 25px;
    
    h2 {
      font-size: 78px;
      margin: 0;
    }

    p {
      font-size: 24px;
      margin-bottom: 20px;
    }
  }

  img {
    max-width: 50% !important;
  }

  div#div-button {
    padding: 0;
    
    button {
      font-size: 20px;
    }

    button#secondary {
      margin-left: 5px;
    }
  }
}

@media screen and (min-width: 840px) and (max-width: 1200px) {
  div#jumbotron {
    // flex-direction: column-reverse;
    
    div#jumbo-detail {
      padding: 5vh;
    }

    div {      
      h2 {
        font-size: 52px;
      }

      p {
        font-size: 20px;
      }
    }

    div#div-button {
      padding: 0;
      
      button {
        font-size: 16px;
      }
  
      button#secondary {
        margin-left: 5px;
      }
    }
  }
}

@media screen and  (min-width: 426px) and (max-width: 840px)  {
  div#jumbotron {
    // flex-direction: column-reverse;
    div#jumbo-detail {
      padding: 3vh;
    }

    div {
      h2 {
        font-size: 28px;
      }

      p {
        font-size: 16px;
      }
    }

    div#div-button {
      padding: 0;
      
      button {
        font-size: 16px;
      }
  
      button#secondary {
        margin-left: 5px;
      }
    }
  }
}

@media screen and (max-width: 425px) {
  div#jumbotron {
    flex-direction: column-reverse;
    
    div#jumbo-detail {
      padding: 3vh gi2vh;
    }

    div {
      h2 {
        font-size: 28px;
        margin-bottom: 10px;
      }

      p {
        font-size: 16px;
      }
    }

    img {
      max-width: 100% !important;
    }

    div#div-button {
      padding: 0;
      
      button {
        font-size: 16px;
      }
  
      button#secondary {
        margin-left: 5px;
      }
    }
  }
}

div#prod {
  // width: 95%;
  margin: auto;
  padding: 15px 24px;
  display: flex;
  // border: 1px solid red;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;

  h2 {
    font-size: 64px;
    font-weight: 900;
  }

  .card {
    border: 1px solid red;
    width: 49%;
    padding: 20px 0;
  }
}
